/* ------------------------------------ */
/* ---------- CSS - STYLE.CSS --------- */
/* ------------------------------------ */

/* --------- HEADING --------- */
.heading{
	background-color:#009688;
	color:red;
}

/* --------- LINKS --------- */
a{
	color:#009688;
}

a:hover{
	color:#00AB9B;
  text-decoration:none;
}

.heading a span, .navbar-default .navbar-nav li a{
	color:#fff;
}

/* ----- PAGE CONTENT  ----- */
.page-content{
	padding:40px 30px 30px 20px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background-color:#fff;
	overflow:auto;
}

.startContent, .startContent > p{
  margin-bottom:40px;
}

/* ------ BUTTONS ------ */
.btn-primary{
	background-color:#009688;
	border:none;
	margin-left:5px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color:#00AB9B !important;
}

/* ------ NAVIGATION BUTTON (RESPONSIVE) ------ */
body > div.navbar.navbar-default.navbar-static-top.heading > div > div > button{
    background-color:#009688;
}

body > div.navbar.navbar-default.navbar-static-top.heading > div > div > button:hover{
    background-color:#00AB9B;
}

body > div.navbar.navbar-default.navbar-static-top.heading > div > div > button > span{
    background-color:#FFF;
}

/* ------ FOCUS INPUT FIELDS ------ */
.focus:focus, #direct_input:focus, #uploadTab2:focus{
	-o-box-shadow:0px 0px 8px rgba(20, 149, 136, 0.3);
	-ms-box-shadow:0px 0px 8px rgba(20, 149, 136, 0.3);
	-moz-box-shadow:0px 0px 8px rgba(20, 149, 136, 0.3);
	-webkit-box-shadow:0px 0px 8px rgba(20, 149, 136, 0.3);
	box-shadow:0px 0px 8px rgba(20, 149, 136, 0.3);
	border:1px solid rgba(20, 149, 136, 0.5);
}

/* ------ NO PADDING RIGHT ------ */
#tab1 > form > div.form-group.col-sm-12,
#tab2 > form > div.form-group.col-sm-12,
#tab1 > form > div.form-group.col-sm-12.formatTab1 > div,
#tab2 > form > div.form-group.col-sm-12 > div{
	padding-right:0px;
}

/* ------ TAB 1 INPUT ------ */
#tab1 .labelURI{
	margin-left:30px;
}

#tab1 .btn-primary, #tab2 .btn-primary, #tab3 .btn-primary{
	float:right;
}

/* ------ FORMAT SELECT BOX ------ */
#tab1 .tab1FormatLabel, #tab2 .tab2FormatLabel, #tab3 .tab3FormatLabel, .directInputLabel, #tab3 .tab2FormatLabel{
    margin-left:16px;
}

/* ------ TAB 2 INPUT ------ */
#tab2 .formatTab2{
    padding-left:0;
}

#tab2 select.formatTab2{
  padding-left:12px;
}

/* ------ TAB 3 INPUT ------ */
#tab3 .btn-primary{
	margin-top:20px;
}

textarea{
	resize:none;
}

.formatBox{
    margin-bottom:50px;
}

/* ------- TAB 2 BROWSE BTN ------- */
.btn-file {
  position: relative;
  overflow: hidden;
}

.inputTab2{
    margin-left:10px;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/* ------ ERRORS ------ */
.errors .error, .warnings .warning{
  border:1px solid #ddd;
  padding:20px 40px;
  margin-bottom:20px;
  background-color:#f5f5f5;
}

.errors .error p, .warnings .warning p{
  margin-bottom:0px;
}

.errors .error span, .warnings .warning span{
  margin-right:20px;
}

.glyphicon-warning-sign, .glyphicon-remove-sign{
  color:#BC935A;
  margin-right:30px;
}

.errors ul, .warnings ul{
  padding-left:0px;
}

.errors ul li, .warnings ul li{
  list-style-type:none;
}

/* ------ ERRORS - GLYPH ------ */
.glyphicon-remove-sign{
  color:#A74444;
}

/* ------ ERRORS CONTAINER ------ */
div.container.warnings > h2{
  margin-top:0px;
}

div.container.warnings ul, div.container.errors ul{
  margin-left:45px;
}

.panel-body{
  background-color:#F5F5F5;
}

.panel-footer{
  background-color:#FFF;
}

.panel-footer ul li{
  line-height:1.8em;
}

.errorTitle{
  margin:0px;
}

.headContainer{
  overflow:auto;
  overflow-x:hidden;
  overflow-y:hidden;
}

/* ------ SELECT BOX + DRAW ARROWS (support for safari and IE) ------ */
.dblarrow, .dblarrow2{
  display: inline-block;
  position:absolute;
  top:10px;
  right:10px;
}

.dblarrow b, .dblarrow2 b{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  display: block;
  margin-bottom: 3px;
}

.dblarrow i, .dblarrow2 i{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: block;
}

select::-ms-expand {
    display: none;
}

select,
select option{
  background: transparent;
}
select{
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dblarrow2{
  right:25px;
}

/* ------ FOOTER ------ */
.footerCont{
  margin-top:40px;
  color:#9B9B9B;
}

footer p{
  font-size:0.8em;
}

/* ------ SPINNER ------ */
.spinner{
  display:none;
  text-align:center;
}

.spinner i{
  color:#009688;
  padding:20px 0px;
  font-size:2.0em;
}

/* ------ SLIDETOGGLE ------ */
.errorExpandable{
  margin:20px 0px 0px 35px;
}

.glyphicon-chevron-up, .glyphicon-chevron-down{
  float:right;
  color:#009688;
}
.panel .glyphicon-chevron-down {
  -ms-transition: transform .2s;
  -o-transition: transform .2s;
  -moz-transition: transform .2s;
  -webkit-transition: transform .2s;
  transition: transform .2s;
}

.down .glyphicon-chevron-down {
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list li span{
  margin-bottom:10px;
}

.list li span{
  display:none;
}

.list li a{
  color:#CCC;
  font-style:italic;
  font-size:0.9em;
}

.showURI, .allDetailsErrors, .allDetailsWarnings{
  float:right;
  color:#009688;
  font-size:0.9em;
  font-style:italic;
}

/* ------ DETAIL EXPANDABLE ------ */
.showURIs{
  display:block !important;
}

.showURI:hover, .allDetailsErrors:hover, .allDetailsWarnings:hover{
  cursor:pointer;
  color:#00AB9B;
}

.allDetailsErrors, .allDetailsWarnings{
  font-style:normal;
  font-size:1.0em;
}

.detailBtnContainer{
  margin:30px 0px 20px 0px;
}

/* --------------------------------- */
/* ----------- ABOUT PAGE ---------- */
/* --------------------------------- */

.about p{
  font-size:16px;
}

/* ------ SIDEBAR ------ */
.sidebar-module ul{
  padding-left:0px;
}

.sidebar-module ul li{
  list-style-type:none;
}

/* -------------------------------------------------------- */
/* ----------- MEDIA QUERIES (RESPONSIVE DESIGN) ---------- */
/* -------------------------------------------------------- */
@media screen and (max-width: 768px) {

  /* ------ TABS PADDING - RIGHT ------ */
  #tab1 > form > div.form-group.col-sm-12,
  #tab2 > form > div.form-group.col-sm-12,
  #tab1 > form > div.form-group.col-sm-12.formatTab1 > div,
  #tab2 > form > div.form-group.col-sm-12 > div{
      padding-right:15px;
  }

  /* ------ TAB 3 INPUT ------ */
  .formatBox{
      margin-bottom:16px;
  }

  /* ------ TABS ARROWS (support for safari and IE) ------ */
  .dblarrow{
    right:25px;
  }

}